@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', Helvetica, Arial;
  font-size: 13px;
  background: #0E0C3E;
}

#m {
  width : 100%;
  margin-right: .5%;
  background: #0F6A8B;
  padding: 10px;
  font-size: 15px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-width: 0px;
}
#m:focus {
  font-size: 15px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: white;
  border-bottom-width: 5px;
  padding-top: 9.00px;
}

#chatForm{
  background: #0F6A8B;
  position: fixed;
  width: 100%;
  bottom: 0;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #0C4B8C;
}
#pseudoDiv {
  min-height: 100%;
  min-width: 100%;
  background-color: #171B27;
  z-index: 9999;
  position: absolute;
}
#pseudoDiv form{
  color: #eee;
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#pseudoDiv input{
  text-align: center;
  color: #eee;
  font-size: 25px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  background-color: #171B27;
}
#pseudoDiv input:focus{
  text-align: center;
  color : #eee;
  font-size: 25px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: white;
  border-bottom-width: 2px;
  background-color: #171B27;
}
